/*==================*
 * Primary Elements *
 *==================*/

.structure{ width:990px; margin:0px auto; }

/* header container */
.headerContainer{ clear:both }
.header{ background: #aaa; height: 100px; }
.logo img{ padding: 10px;}
/* navigation container */
.navigationContainer{  clear: both; }
.navigation{ background:#ccc; }

/* heading container */
.headingContainer{  clear: both; }
.heading{ background: #aaa; min-height: 150px }

/* content container */
.contentContainer{ clear: both; }
.content{  background: #f7f7f7; min-height:400px;  }

/* footer container */
.footerContainer{ clear: both;}
.footer{ min-height: 80px; background: #eee }

/* footer copyright */
.copyright{ clear: both; text-align: center; font-size: 10px; color: #999; padding-top: 30px; }


/*==================*
 * Primary Elements *
 *==================*/
 
/* zesty created {{navigation}} */
ul#nav { margin:0px; padding:0px;  line-height:0px }
ul#nav li{ display: inline-table; list-style:none;  margin:0px; padding:0px; line-height:0px}
ul#nav li a{ text-decoration: none; display:block; height:36px; line-height:36px; color: #fff; font-size: 12px; background: #eee; color: #333; padding: 0px 33px; border-right: 1px #ccc solid; margin:0px;}
ul#nav li ul{ display: none;}
